.main-hero{
    width: 100%;
    height: 50vh;
    background-color: #c4e2ff;
    position: relative;
}

.hero-left-text{
    width: 50%;
   padding: 5vh;
   
   
   
}

.hero-left-text h1{
    line-height: 1.4;
    font-family: Arvo;
    font-size: 36px;
   
}

.hero-left-text p{
    
    font-size: 20px;
}

.hero-link{
    text-decoration: none;
    color: white;
}
.hero-link:hover{
    color:yellow;
}
.hero-right-image{
    position: absolute;
    right: 0%;
}
.hero-right-image img{
    width: 450px;
    
}

